altgraph==0.17
asgiref==3.2.10
future==0.18.2
icalendar==4.0.6
pefile==2019.4.18
psutil==5.7.0
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
schedule==0.6.0
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
