[Unit]
Description=Check Epic giveaways once a day

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
RandomizedDelaySec=30min
Persistent=true
Unit=claim-free-games.service

[Install]
WantedBy=timers.target
